/* Image section */
.recipe-image {
  background: aliceblue;
}

.recipe-image img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 768px;
}

/* Span class for backdrop color only */
.backdrop-color {
  position: absolute;
  width: 100%;
  height: 25vh;
  background: aliceblue;
  z-index: -1;
}

/* Header section */
.header, .recipe {
  padding-top: 35px;
  padding: 0 15px;
  max-width: 968px;
  background: white;
}

.main-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 40px;
}

.main-title p {
  padding-top: 8px;
  opacity: 0;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: 1.5s;
}

.main-title p.love {
  padding-top: 8px;
  opacity: 1;
  color: red;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  transition: 1.5s;
}

.description {
  margin: 35px 0;
  padding: 35px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

/* Favorite icon */
.main-title .favsIcon {
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
  border: 1px solid lightgrey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: .5s;
}

.main-title i {
  align-self: center;
  color: rgb(230, 249, 255);    /* fallback color */
  color: rgba(0, 134, 179, .2);
  transition: 1.5s;
}

.main-title .love i {
  animation: bounce 1.5s;
  color: red;
  transition: 3s;
}

.main-title .favsIcon:hover {
  transform: scale(1.3);
  transition: .5s;
}

.main-title .favsIcon.love:hover {
  border-color: lightgrey;
  background: white;
  transform: scale(1.3);
  transition: .5s;
}

/* Ingredients section */
.subTitle {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* .selectAll {
  align-self: center;
} */

.ingredient-list {
  padding-top: 15px;
}

.ingredient-list li {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 15px 0;
}

.ingredient-list li input {
  justify-self: center;
  align-self: center;
}

/* Instructions section */
.instructions {
  margin-top: 35px;
  padding-top: 25px;
  border-top: 1px solid #e6e6e6;
}

.instruction-list li {
  /* text-align: justify; */
  margin: 25px;

}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		transform: scale(1);
	}
	40% {
		transform: scale(1.3);
	}
	60% {
		transform: scale(1.3);
	}
}

/* Responsive styling */
@media only screen and (min-width: 576px) {
  .header {
    margin: 0 auto;
    padding: 55px 25px 0 25px;
  }

  .recipe {
    margin: 0 auto;
    padding: 0 25px 55px 25px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 65px;
  }

  .recipe {
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .ingredient-list li {
    grid-template-columns: 1fr 1fr;
  }

  .ingredient-list {
    padding-top: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 968px;
    border: 1px solid black;
    box-shadow: 8px 8px lightgrey;
  }

  .recipe{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .ingredient-list li {
    grid-template-columns: 1fr;
  }

  .instructions {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    padding-left: 25px;
    border-left: 1px solid #e6e6e6;
  }

  .footer {
    height: 125px;
  }
}
